[flake8]
max-line-length = 127
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    env,
    .env,
    migrations,
    alembic
ignore =
    E203,
    E402,
    E501,
    W503
max-complexity = 10


